<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      
<mapper namespace="com.huafen.tablet.mapper.DeviceBorrowMapper">

	<resultMap type="com.huafen.tablet.model.his.IotBorrowHisDTO" id="borrowHisRetultMap">
		<result property="roomID" column="ROOM_ID" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="meetID" column="MEET_ID" />
		<result property="meetName" column="MEET_NAME" />
	    <result property="verifyCode" column="VERIFY_CODE" />
	    <result property="borrowNum" column="BORROW_NUM" />
	    <result property="userName" column="USER_NAME" />
	    <result property="startTime" column="BORROW_START_TIME" />
	    <result property="endTime" column="BORROW_END_TIME" />
	</resultMap>
	
	
	<resultMap type="com.huafen.tablet.model.iot.IotBorRetuDTO" id="borrowRetultMap">
	    <result property="verifyCode" column="VERIFY_CODE" />
	    <result property="tabletID" column="TABLET_ID" />
	    <result property="borrowedStatus" column="BORROWED_STATUS" />
	</resultMap>


	<resultMap type="com.huafen.tablet.model.apply.IotTablBorroCode" id="borrowCodeRetultMap">
	    <result property="verifyCode" column="VERIFY_CODE" />
	    <result property="borrowNum" column="BORROW_NUM" />
	    <result property="returnNum" column="RETURN_NUM" />
	    <result property="borrowTime" column="BORROW_TIME" />
	    <result property="borrowedStatus" column="BORROWED_STATUS" />
	</resultMap>

	<resultMap type="com.huafen.tablet.model.iot.IotTabletDTO" id="iotTabletMap">
	    <result property="tabletID" column="TABLET_ID" />
	    <result property="tabletName" column="TABLET_NAME" />
	    <result property="tabletModel" column="TABLET_MODEL" />
	    <result property="tabletBrand" column="TABLET_BRAND" />
	    <result property="tabletIP" column="TABLET_IP" />
	    <result property="tabletPort" column="TABLET_PORT" />
	    <result property="tabletState" column="TABLET_STATE" />
	    <result property="borrowedStatus" column="BORROWED_STATUS" />
	    <result property="verifyCode" column="VERIFY_CODE" />
	</resultMap>

    <select id="queryBorrowHisRetultInfo" resultMap="borrowHisRetultMap" parameterType="com.huafen.tablet.model.param.BorrowHisParam">
		SELECT
		  t.ROOM_ID,
			t.MEET_ID,
			(SELECT a.ROOM_NAME FROM t_call_service_room a WHERE a.ROOM_ID = t.ROOM_ID LIMIT 1)  AS ROOM_NAME,
			(SELECT a.MEET_NAME FROM t_call_service_meet a WHERE a.MEET_ID = t.MEET_ID LIMIT 1)  AS MEET_NAME,
			VERIFY_CODE,
			BORROW_NUM,
			USER_NAME,
			date_format( START_TIME, '%Y-%m-%d %T' ) AS BORROW_START_TIME,
		  date_format( END_TIME, '%Y-%m-%d %T' ) AS BORROW_END_TIME  
		FROM
			t_iot_device_borrow t 
		WHERE 
			1 =1
			AND DATEDIFF(
				t.CREATE_TIME,
			NOW())  <![CDATA[ <= ]]> #{endDayNum}
			
				AND DATEDIFF(
				t.CREATE_TIME,
				NOW()) <![CDATA[ >=0 ]]>
				ORDER BY t.CREATE_TIME DESC
				LIMIT #{showNum}
	</select>
	
	
    <select id="queryBorrowRetultInfo" resultMap="iotTabletMap" parameterType="com.huafen.tablet.model.param.TabletRevertParam">
			SELECT
			    a.VERIFY_CODE,			    
				a.TABLET_ID,
				a.BORROWED_STATUS,
				b.TABLET_MODEL,
				b.TABLET_STATE,
				b.TABLET_NAME,
				b.TABLET_IP,
				b.TABLET_BRAND,
				b.TABLET_NAME,
				b.TABLET_PORT
			FROM
				t_borrow_return_oper_recods a,t_iot_tablet_info b
			WHERE
				1 = 1
				AND a.TABLET_ID=b.TABLET_ID
				AND a.VERIFY_CODE = #{verifyCode}
				<if test = "borrowedStatus != null and borrowedStatus != ''">
				AND	a.BORROWED_STATUS = #{borrowedStatus}
				</if>											
				ORDER BY a.CREATE_TIME DESC
    </select>


 <select id="countCodeInfoPage" resultType="java.lang.Integer" parameterType="com.huafen.tablet.model.iot.PageBean">
			SELECT
                  COUNT(a.ID)
			FROM
				t_iot_device_borrow a
				LEFT JOIN
				t_iot_device_return b 
				on a.VERIFY_CODE = b.VERIFY_CODE
			WHERE
				1 = 1 
				<if test="borrowedStatusList != null and borrowedStatusList.size() > 0 ">
					AND a.BORROWED_STATUS IN
					<foreach item="item" index="index" collection="borrowedStatusList"
                         open="(" separator="," close=")">
                       #{item}
                    </foreach>
				</if>
				AND a.USER_ID = #{userID}													
   </select>   

 <select id="queryCodeInfoPageList" resultMap="borrowCodeRetultMap" parameterType="com.huafen.tablet.model.iot.PageBean">
			SELECT
				a.ROOM_ID AS ROOM_NAME,
				a.MEET_ID AS MEET_NAME,
				a.VERIFY_CODE,
				a.BORROW_NUM,
				a.USER_NAME,
				a.BORROWED_STATUS,
				date_format( a.START_TIME, '%Y-%m-%d %T' ) AS BORROW_TIME,
				b.RETURN_NUM 
			FROM
				t_iot_device_borrow a
				LEFT JOIN
				t_iot_device_return b 
				on a.VERIFY_CODE = b.VERIFY_CODE
			WHERE
				1 = 1 
				<if test="borrowedStatusList != null and borrowedStatusList.size() > 0 ">
					AND a.BORROWED_STATUS IN
					<foreach item="item" index="index" collection="borrowedStatusList"
                         open="(" separator="," close=")">
                       #{item}
                    </foreach>
				</if>
				AND a.USER_ID = #{userID}
				ORDER BY a.CREATE_TIME DESC
				LIMIT #{start}, #{pageSize}
    </select>


    <select id="countBorroReturnOperNum" resultType="java.lang.Integer" parameterType="com.huafen.tablet.model.iot.IotBorRetuDTO">
               SELECT COUNT(1) FROM t_borrow_return_oper_recods t WHERE t.verify_code = #{verifyCode} AND t.TABLET_ID = #{tabletID}
    </select> 

    <insert id="insertBorroReturnOperLog" parameterType="com.huafen.tablet.model.iot.IotBorRetuDTO">
		INSERT INTO `t_borrow_return_oper_recods` (`VERIFY_CODE`, `TABLET_ID`, `BORROWED_STATUS`, `CREATE_TIME`, `UPDATE_TIME`, `BACK_COL1`, `BACK_COL2`, `BACK_COL3`, `BACK_COL4`, `BACK_COL5`, `BACK_COL6` )
		VALUES
			( #{verifyCode}, #{tabletID}, #{borrowedStatus}, now(), now(), NULL, NULL, NULL, NULL, NULL, NULL ); 
    </insert>

    <update id="updateBorroReturnOperLog" parameterType="com.huafen.tablet.model.iot.IotTabletDTO">
    		update t_borrow_return_oper_recods 
			<set>
			  <if test = "borrowedStatus != null and borrowedStatus != ''">			  
			    BORROWED_STATUS = #{borrowedStatus},
			  </if>			  		  		  		  			  
			  update_time = now()
			</set> 
			where TABLET_ID = #{tabletID}
		 	and verify_code = #{verifyCode}
    </update>
    
    <delete id="deleteIotBorReturnOperLog" parameterType="com.huafen.tablet.model.iot.IotBorRetuDTO">
		DELETE FROM t_borrow_return_oper_recods WHERE verify_code=#{verifyCode} AND TABLET_ID=#{tabletID}
	</delete>
    
</mapper>